In [78]:
import time as time
import datetime as datetime
import pandas as pd
import yfinance as yf
from backtesting import Strategy, Backtest
from backtesting.lib import crossover

In [93]:
#Ticker in url
ticker = 'TSLA'

#Timeperiods of data set "Y/M/D/time"
#this will help when selecting the desired dates and will pull the data set from yahoo finance.
period1 = int(time.mktime(datetime.datetime(2018, 12, 1, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2019, 12, 31, 23, 59).timetuple()))
interval = '1d' # 1wk, 1m

#Yahoo Finance url
url = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [94]:
#shaping data frame to backtesting requirements
df = pd.read_csv(url)
columns = ['Date', 'Open', 'High', 'Low', 'Close', 'adj close', 'Volume']
df.columns = columns
df

,Date,Open,High,Low,Close,adj close,Volume
0,2018-12-03,24.000000,24.400000,23.466667,23.899332,23.899332,124597500
1,2018-12-04,23.736668,24.578667,23.466667,23.980000,23.980000,126928500
2,2018-12-06,23.733999,24.492001,23.384001,24.204000,24.204000,117637500
3,2018-12-07,24.600000,25.299334,23.843332,23.864668,23.864668,172668000
4,2018-12-10,24.000000,24.398666,23.541332,24.343332,24.343332,99202500
...,...,...,...,...,...,...,...
266,2019-12-24,27.890667,28.364668,27.512667,28.350000,28.350000,120820500
267,2019-12-26,28.527332,28.898666,28.423332,28.729334,28.729334,159508500
268,2019-12-27,29.000000,29.020666,28.407333,28.691999,28.691999,149185500
269,2019-12-30,28.586000,28.600000,27.284000,27.646667,27.646667,188796000
270,2019-12-31,27.000000,28.086000,26.805332,27.888666,27.888666,154285500

In [95]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))
df

,Date,Open,High,Low,Close,adj close,Volume
2018-12-03,2018-12-03,24.000000,24.400000,23.466667,23.899332,23.899332,124597500
2018-12-04,2018-12-04,23.736668,24.578667,23.466667,23.980000,23.980000,126928500
2018-12-06,2018-12-06,23.733999,24.492001,23.384001,24.204000,24.204000,117637500
2018-12-07,2018-12-07,24.600000,25.299334,23.843332,23.864668,23.864668,172668000
2018-12-10,2018-12-10,24.000000,24.398666,23.541332,24.343332,24.343332,99202500
...,...,...,...,...,...,...,...
2019-12-24,2019-12-24,27.890667,28.364668,27.512667,28.350000,28.350000,120820500
2019-12-26,2019-12-26,28.527332,28.898666,28.423332,28.729334,28.729334,159508500
2019-12-27,2019-12-27,29.000000,29.020666,28.407333,28.691999,28.691999,149185500
2019-12-30,2019-12-30,28.586000,28.600000,27.284000,27.646667,27.646667,188796000
2019-12-31,2019-12-31,27.000000,28.086000,26.805332,27.888666,27.888666,154285500

In [96]:
df.drop('Date', inplace=True, axis=1)
df.drop('adj close', inplace=True, axis=1)
df

                 Open       High        Low      Close     Volume
2018-12-03  24.000000  24.400000  23.466667  23.899332  124597500
2018-12-04  23.736668  24.578667  23.466667  23.980000  126928500
2018-12-06  23.733999  24.492001  23.384001  24.204000  117637500
2018-12-07  24.600000  25.299334  23.843332  23.864668  172668000
2018-12-10  24.000000  24.398666  23.541332  24.343332   99202500
...               ...        ...        ...        ...        ...
2019-12-24  27.890667  28.364668  27.512667  28.350000  120820500
2019-12-26  28.527332  28.898666  28.423332  28.729334  159508500
2019-12-27  29.000000  29.020666  28.407333  28.691999  149185500
2019-12-30  28.586000  28.600000  27.284000  27.646667  188796000
2019-12-31  27.000000  28.086000  26.805332  27.888666  154285500

[271 rows x 5 columns]

In [121]:
#OSCILLATOR FORMULA
def OSC():
    #14 day low average 
    L14 = df['Low'].rolling(14).min()
    H14 = df['High'].rolling(14).max()
    
#formula variables 
    Clo = df['Close']
    Kval = ((C - L14) * 100 / (H14 - L14))

    Dval = K.rolling(3).mean()   
    
print(OSC)

<function OSC at 0x11ec44700>

In [133]:
#backtesting strategy
df

class Oscillator(Strategy):
    df = 
    L14 = (df['Low'].rolling(14).min())
    H14 = (df['High'].rolling(14).max())
    LOW = (df['Close'])
    Kval = (((LOW - L14) * 100 / (H14 - L14)))
    Dval = (Kval.rolling(3).mean())
    
    def init(self):
        self.OSC = self.I(Dval)
    
    def next(self):
        
        if Dval>80 = True:
            self.position.close
            
        elif Dval<20 = True:
            self.buy()

0      False
1      False
2      False
3      False
4      False
       ...
266     True
267     True
268     True
269     True
270     True
Length: 271, dtype: bool

In [134]:
bt = Backtest(df, Oscillator, cash=10_000)
stats = bt.run()
print(stats)

#watch the video
#ttps://www.youtube.com/watch?v=kz_NJERCgm8

RuntimeError: Indicator "" errored with exception: 'Series' object is not callable